<h1 class="list">My movie lists app</h1>

<% @lists.each do |l| %>
  <p class="listcard"><%= link_to l.name, list_path(l) %></p>

<% end %>

<div class="button">
<%= link_to "Create a new list", new_list_path(@list) %>
</div>
