<h2>Create a new list here!</h2>

<%= simple_form_for(@list) do |f| %>
<%= f.input :name %>
<%# f.association :movies, as: :check_boxes %>
<%= f.submit %>
<% end %>

<%= link_to "Add a movie to your list" %>
