.button {
  background-color: rgb(202, 198, 244);
  padding: 3px 3px;
  border-radius: 5px;
  align-content: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
  box-shadow: 2px;
  margin: 5px 5px;
  font-size: smaller;
}
