.listcard {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 2px 16px;
  border-radius: 4px;
  background-color: rgb(211, 208, 245);
}
